<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="brand" href="/">MagicBooks</a>
      <ul class="nav pull-right">
        <li class="<%= request.env['PATH_INFO'] == '/' ? 'active' : '' %>"><a href="/">Home</a></li>
        <li class="<%= request.env['PATH_INFO'] == '/tour' ? 'active' : '' %>"><a href="/tour">Tour</a></li>
        <li class="<%= request.env['PATH_INFO'] == '#' ? 'active' : '' %>"><a href="/">Pricing & Sign Up</a></li>
        <li class="<%= request.env['PATH_INFO'] == '#' ? 'active' : '' %>"><a href="/">Why MagicBooks?</a></li>
        <li class="<%= request.env['PATH_INFO'] == '#' ? 'active' : '' %>"><a href="/">About</a></li>
      </ul>
    </div>
  </div>
</div>
